ResearchBeam.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.5.2538 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:VMSHET="xsd.os.varian.com/HET" xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <!--********************************************************************************-->
    <!--    S E T   B E A M                                                             -->
    <!--    The root element defining the beam                                          -->
    <!--********************************************************************************-->
    <xs:element name="SetBeam">
        <xs:complexType>
            <xs:all>
                <!--********************************************************************************-->
                <!--    Specify The Version of the Varian Research Beam Schema (optional but strongly recommended)           -->
                <!--    If the version is missing .....                                             -->
                <!--********************************************************************************-->
                <xs:element name="SchemaVersion" type="xs:string" minOccurs="0" maxOccurs="1" />

                <!--********************************************************************************-->
                <!--    Specify an integer number to be be used as a unique identifier for this     -->
                <!--    Research Beam.                                                              -->
                <!--********************************************************************************-->
                <xs:element name="Id" type="xs:int" minOccurs="1" maxOccurs="1" />

                <!--********************************************************************************-->
                <!--    Specify a String identifier for this Research beam (optional).              -->
                <!--********************************************************************************-->

                <xs:element name="GUID" type="xs:string" minOccurs="0" maxOccurs="1" />
                <!--********************************************************************************-->
                <!--    Specify the Treatment Mode (Optional)                                       -->
                <!--********************************************************************************-->
                <xs:element name="TreatmentMode" minOccurs="0" maxOccurs="1">
		  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="FTM"/>
                      <xs:enumeration value="ISTM"/>
                      <xs:enumeration value="QATM"/>
                      <xs:enumeration value="QATM_VERIFICATION"/>
                      <xs:enumeration value="MCTM"/>
		    </xs:restriction>
		  </xs:simpleType>
		</xs:element>

                <!--*******************************************************************************-->
                <!-- Specify the MLC model required for this ResearchBeam (Optional)               -->
                <!-- Rule: If MLC model is specified, machine will accept experiment plan only if  -->
                <!-- equipped with same MLC model                                                  -->
                <!--*******************************************************************************-->
                <xs:element name="MLCModel" minOccurs="0" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <!--Three types of MLCs are possible: 80 leaf, 120 leaf and 120leaf high definition -->
                      <xs:enumeration value="NDS80" />
                      <xs:enumeration value="NDS120" />
                      <xs:enumeration value="NDS120HD" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>

                <!--**********************************************************************************************-->
                <!-- Specify whether to track this beam and the tracking parameters (optional)                    -->
                <!-- Define the tracking enable status plus the tracking capability ratio.                        -->
                <!-- Tracking capability ratio range between 0 and 1.0, with 1.0 means tracking trajectory would  -->
                <!-- be generated with full capabilities of axes.                                                 -->
                <!--**********************************************************************************************-->
                <xs:element name="Tracking" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <!--units are 1 deg/sec or 1 cm/sec ... -->
                      <xs:element name="TrackingEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1" />

                      <!--**********************************************************************************************
                      Capability ratio is restricted to be between 0.0 and 1.0
                      **********************************************************************************************-->
                      <xs:element name="CapabilityRatio" minOccurs="1" maxOccurs="1">
                        <xs:simpleType>
                          <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="1"/>
                          </xs:restriction>
                        </xs:simpleType>


                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

                <!--*****************************************************************************************************-->
                <!-- Specify a tollerance table to be used (optional)                                                    -->
                <!--    RULES:                                                                                           -->
                <!--      1. If an individual axis has a specified zero tolerance value or a missing tolerance element,  -->
                <!--         the Control System will impose its tight internal tolerance on that axis.                   -->
                <!--      2. If the entire tolerance table is missing, the Control System will impose its tight          -->
                <!--         internal tolerance on all axes.                                                             -->
                <!--*****************************************************************************************************-->
                <xs:element name="TolTable" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation> 
                      Tolerance Table
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <!--units are deg or cm ... -->
                      <xs:element name="GantryRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CollRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchVrt" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchLat" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchLng" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Y12" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <!-- ... independent Y tolerance -->
                      <xs:element name="X12" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <!-- ... independent X tolerance -->
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
 
                <!--*****************************************************************************************************-->
                <!--Velocity limit table.                                                                                -->
                <!--Two consecutive control points define a segment.                                                     -->
                <!--There is always a limit to how fast a segment can be delivered.                                      -->
                <!--Depending on MU delivered and motions performed in each segment, the limiting factor to how fast a   -->
                <!--segment can be delivered, turns out to be either the max dose rate or one of the moving axis.        -->
		<!--This is the "speed limiting parameter" for the segment which can be either one of the mechanical axes-->
                <!--or the dose (rate).                                                                                  -->
                <!--Obviously, the "limiting parameter" can change from segment to segment (e.g it can be dose rate in   -->
                <!--one segment, max gantry rotational speed in the next segment, leaf speed in the next etc.            -->
                <!--The control system maximizes the speed of the limiting parameter and then adjusts all other          -->
                <!--parameters proportionately (dose rate and speeds of moving axes)                                     -->
                <!--so that the linear relationship of dose vs position defined by the control points is followed        -->
                <!--precisely.                                                                                           -->
		<!--If you want to limit the speed of any axis so that it never exceeds a certain speed in any one       -->
                <!--segment in your beam then you can use this table to set axis velocity limits. The maximum velocity   -->
                <!--that you specify will act as a velocity ceiling. The actual speed of any axis in any one segment     -->
                <!--may be lower if another axis (or does rate) is the limiting parameter.                               -->
                <!--If the limit you specify is higher than the inherrent maximum axis velocity then your limit will     -->
                <!-- be ignored and the intrinsic maximum velocity will be used a s a limit.                             -->
                <!--*****************************************************************************************************-->
                <xs:element name="VelTable" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation> 
                      Max Velocity Table: 
                   </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <!--units are in degrees/sec or cm/sec ... -->
                      <xs:element name="GantryRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CollRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchVrt" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchLat" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchLng" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="CouchRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="X1" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="X2" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Y1" type="xs:double" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Y2" type="xs:double" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

                <!--*****************************************************************************************************-->
                <!--Specify any accessories to be used.                                                                  -->
                <!--RULES:                                                                                               -->
                <!--1. A missing element for a slot means that ANY accessory can be installed in the slot                -->
                <!--without causing an interlock; i.e. "don't care".                                                     -->
                <!--2. The value '0' (zero) in a slot means that no accessory must be installed in the slot.             -->
                <!--3. Any other integer value in a slot means that an accessory with that accessory code must           -->
                <!--be installed in that slot.                                                                           -->
                <!--*****************************************************************************************************-->
                <xs:element name="Accs" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                    <xs:documentation>
                      The planned Accessory Codes for each slot.
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Acc1" type="xs:int" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Acc2" type="xs:int" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Acc3" type="xs:int" minOccurs="0" maxOccurs="1" />
                      <xs:element name="Acc4" type="xs:int" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

                <!--*****************************************************************************************************-->
                <!--Control points list.                                                                                 -->
                <!--This is where you define the the dose vs. position relationship (trajectory in dose/position space)  -->
                <!--describing the treatment from                                                                        -->
                <!-- beginning to end.                                                                                   -->
                <!--Typically at each control point the amount of dose and motions to be performed are listed            -->
                <!--*****************************************************************************************************-->
                <xs:element name="ControlPoints" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <!--*****************************************************************************************************-->
                      <!--The control points (2 is the minimum number of control points).                                      -->
                      <!--*****************************************************************************************************-->
                      <!--General Control Point Rules:
                            1) Unspecified (i.e. unplanned) STATIC Axes,
                                 should NOT APPEAR in ANY Control Point.	The Control System will not enforce
                                 any tolerance restrictions on such axes.  However, the Control System wil still ensure that
                                 these	axes do not move from wherever they are placed once when the system transitions to READY.
                                 NOTE: MLC may be unspecified STATIC by this rule.
                            2) Specified STATIC Axes, whose initial positions are contained in the Beam need only
                                 appear in the First Control Point. The controller will ensure that they
                                 do not move from wherever they are placed once it goes to READY.
                            3) Specified DYNAMIC Axes, whose position "program" is contained in the Beam need only
                                 appear in the First Control Point and any subsequent Control Point where
                                 there is a change in their position.  The controller will ensure that they
                                 follow their position "program" during the treatment).
                            4) Only one independent jaw of a pair may be appear in a Control Point.
                                 It is not necessary for both to appear. This could occur if only one jaw is dynamic.
                            5) MU is cumulative.	From one control point to the next, it can only go up
                                 or stay the same. It cannot decrease.
                            6) There are some special additional rules for the first control point. The first control point:
                                    A) Must specify a Dose value of 0 MU
                                    B) Must contain "Mu" = 0.
                                    C) Must contain "DRate".
                                    D) Must contain "SubBeam"
                             7) Subsequent Control Points:
                                    A) Must contain "Energy" only if it is changing
                                    B) Must contain "Mu" only if it is changing (i.e. not a "no dose" segment).
                                    C) Must contain "DRate" only if it is changing
                                    D) Must contain axes whose positions are changing (dynamic axes).
                                    E) May not contain axes (including MLC) which were not contained in the first Control Point.
                      -->
                      <!--*****************************************************************************************************-->
                      <xs:element name="Cp" minOccurs="2" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation> 
                              for more details.)
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="TreatProgressEvent" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    
                            <!--*****************************************************************************************************-->
                            <!--This is an optional tag. A SubBaeam element that is used to tag the control point as the beginning of a new "Sub" Beam -->
                            <!--*****************************************************************************************************-->
                            <xs:element name="SubBeam" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Seq" type="xs:unsignedInt" minOccurs="1" maxOccurs="1" />
                                  <xs:element name="SubbeamGUID" type="xs:string" minOccurs="0" maxOccurs="1" />
                                  <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
                                  <xs:element name="MaxRadTime" type="xs:double" minOccurs="0" maxOccurs="1" />
                                  <xs:element name="TrackingTrainingOnly" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!--END SubBeam-->

                            <!--*****************************************************************************************************-->
                            <!--1) Energy starting at this control point - A unique signature for the energy in the form "dds" where
                                      dd = 0-99,
                                      s = 'x', 'e', or 'h', where
                                            x : MV X-Rays
                                            e : MeV electrons
                                            h : Mev HDTSe- electons.
                                            k : KV beams
                                            Examples: "6x" (6 MV X-Rays) and "12e" (12 Mev electrons) and "0k" (kv beam)
                            -->
                            <!--*****************************************************************************************************-->
                            <xs:element name="Energy" type="xs:string" minOccurs="0" maxOccurs="1" />

                            <!--*****************************************************************************************************
                            Cumulative Dose in units of 1 MU (floating point number, can thus be fractional MU)
                            Since dose is cumulative, the dose for this controp point must be greater or equal to the dose specified in the previous control point.
                            This dose specified in this control point minus the dose specified in the previous control point
                            is the dose delivered in the last segment (segment defined by this control point and previous control point 
                            If dose is the same as previous control point then the segment ending at this control point delivers no dose (no dose segment)
                            *****************************************************************************************************-->
                            <xs:element name="Mu" minOccurs="0" maxOccurs="1">
                              <xs:simpleType>
                                <xs:restriction base="xs:double">
                                  <!--Obviously dose cannot be less than 0-->
                                  <xs:minInclusive value="0"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>

                            <!-- Dose rate in MU per minute for this control point -->
                            <!-- Note: The dose rate specified here acts as a dose rate "ceiling", -->
                            <!-- the actual dose rate is computed on a per segment basis and may be lower -->
                            <!-- than this dose rate if another moving axis is the speed limiting parameter (SLP) -->
                            <xs:element name="DRate" minOccurs="0" maxOccurs="1">
                              <xs:simpleType>
                                <xs:restriction base="xs:double">
                                  <!--Obviously dose rate cannot be less than 0-->
                                  <xs:minInclusive value="0"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>

                            <!-- Axis positions. Units are degrees for rotational axes and centimeters for linear axes. -->
                            <!-- In Varian internal scale                                                               -->
                            <xs:element name="GantryRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CollRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchVrt" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchLat" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchLng" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchRtn" type="xs:double" minOccurs="0" maxOccurs="1" />

                            <!--Note: The Collimator positions, (including MLC) designate the resulting field size at isocenter -->
                            <xs:element name="Y1" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="Y2" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="X1" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="X2" type="xs:double" minOccurs="0" maxOccurs="1" />

                            <!--**********************************************
                            *  MLC positions in cm (projected at isocenter)  *
                            ***********************************************-->
                            <xs:element name="Mlc" minOccurs="0" maxOccurs="2">
                              <xs:complexType>
                                <xs:sequence>
                                  <!-- ID = 1 means primary MLC, ID = 2 means secondary MLC -->
                                  <xs:element name="ID" type="xs:int" minOccurs="1" maxOccurs="1" />
                                          
                                  <!-- Array of MLC positions for Bank B for this control point - leaf positions are delimited by spaces.
                                       The first leaf in the array is B-1, and the last leaf is B-40, B-60,
                                       or A-26. The positions are defined in the array as double, in
                                       1 cm units, in Varian scale.
                                       Values represent logical (as opposed to physical) positions in the Isocenter Plane.
                                  -->
                                  <xs:element name="B" type="xs:string" minOccurs="1" maxOccurs="1" />
                                    
                                  <!-- Same as above but for Bank A -->
                                  <xs:element name="A" type="xs:string" minOccurs="1" maxOccurs="1" />
                                </xs:sequence>
                              </xs:complexType> <!--END of MLC Positions. -->
                            </xs:element>

                          </xs:sequence>  <!--***END OF Cp elements list***-->
                        </xs:complexType>
                      </xs:element> <!--***END OF Cp***-->
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>  <!--***END OF ControlPoints (list)***-->

                <!--********************************************************************************************
                ************************************************************************************************
                IMAGING PARAMETERS (Optional)                 
                ************************************************************************************************
                *********************************************************************************************-->
                <xs:element name="ImagingParameters" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <!--*****************************************************************************************
                      *  Specify whether images will be taken during MV beam or outside MV irradiation            *
                      ******************************************************************************************-->
                      <xs:choice minOccurs="1" maxOccurs="1">

                        <!--*****************************************************************************************
                        Type for imaging during treatment.
                         
                        Images may be acquired during treatment.
                        If the beam is paused while XI is in an acquiring state, the current image(s) will be dropped and
                        the treatment beam can be resumed under SPV control at the control point where it was paused.
                                    
                        If the system is equipped for imaging, but no images have to be acquired for a treatment beam,
                        this type is used at well. In this case, imaging points shall contain the initial arm positions,
                        but no acquisitions
                        ******************************************************************************************-->
                        <xs:element name="DuringTreatment">
                          <xs:complexType>
                            <xs:sequence></xs:sequence>
                          </xs:complexType>
                        </xs:element>

                        <!--*****************************************************************************************
                        Type for imaging outside treatment.
      
                        Supervisor shall terminate the beam as soon as one of the following condition is fulfilled:
                        1. All acquisitions are completed (normal termination).
                        2. The maximum MU limit (MaxMu) is reached.
                        3. The operator stops the beam.
                        4. A fault occurs.
                        Supervisor beam state never changes to 'paused'.
                        The reason of termination can be determined from the supervisor beam history.
      
                        Note:
                        The corresponding beam has the following characteristics.
                        1. There may be no MV energy defined (e.g. kV imaging or dark field acquisition),
                           MaxMu shall be 0 in this case.
                        2. The meterset values in the control points have no semantics.
                        3. There may be 2 successive control points with no changes in any value.
                        ******************************************************************************************-->
                        <xs:element name="OutsideTreatment">
                               
                          <xs:complexType >
                            <xs:sequence>
                              <xs:element minOccurs="1" maxOccurs="1" name="MaxMu" type="xs:double" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>

                      </xs:choice>   <!--***END OF either During or Outside Irradiation imaging***-->

                      <!--*****************************************************************************************
                      *  Specify Custom Target Permission (true/false)                                            *
                      ******************************************************************************************-->
                      <xs:element minOccurs="0" maxOccurs="1" name="CustomTargetPermission" type="xs:boolean" default="false"/>

                      <!--*****************************************************************************************
                      Max Velocity Table:
                      This table can be used to specify top velocities of axes to be used in the treatment.
                                           
                      RULES:
                      1. If an individual axis has a specified max velocity value, then the Control
                         System will use the smaller of the specified max velocity and the maximum supported
                         max velocity of that axis.
                      ******************************************************************************************-->
                      <xs:element minOccurs="0" maxOccurs="1" name="ImagingVelTable">
                        <xs:complexType>
                          <xs:sequence>
                            <!--List of max velocities desired for each Clinac axis -->
                            <!--units are 1 deg/sec or 1 cm/sec ... -->
                            <xs:element name="GantryRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CollRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchVrt" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchLat" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchLng" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="CouchRtn" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="X1" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="X2" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="Y1" type="xs:double" minOccurs="0" maxOccurs="1" />
                            <xs:element name="Y2" type="xs:double" minOccurs="0" maxOccurs="1" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element> <!--END OF Imaging Velocity Table -->



                      <xs:element minOccurs="0" maxOccurs="1" name="LatchBEL" type="xs:boolean" default="true"/>

                      <xs:element minOccurs="0" maxOccurs="1" name="LatchKVBEL" type="xs:boolean" default="true"/>

                      <!--*****************************************************************************************
                      Sequence of imaging points.
                      An initial imaging point at Cp=0 is mandatory for all imaging axes, which are specified in a subsequent imaging point.
                      ******************************************************************************************-->
                      <xs:element minOccurs="1" maxOccurs="1" name="ImagingPoints" >
                        <xs:complexType>
                          <xs:sequence>
                            <!--*****************************************************************************************
                            Imaging point.
                            Refers to fractional control point indices, e.g. 3.5 means with all Clinac axes averaged between control points with indices 3 and 4.
                            In case of a beam group (or superbeam), Cp refers to the fractional control point index of the combined beam.
                            Example:
                            Beam group with 3 beams.
                            First beam has 5 control points:        0 &#8804; Cp &#8804; 4.
                            Second beam has 2 control points:       5 &#8804; Cp &#8804; 6.
                            Third beam has 3 control points:        7 &#8804; Cp &#8804; 9.

                            ******************************************************************************************-->
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="ImagingPoint">
                              <xs:complexType>
                                <xs:sequence>
                                  <!--*****************************************************************************************
                                  The fractional control point. This refers to the list of beam control points in element ControlPoints above.
                                  This factional control point is essentially what determines where in the beam the image will be taken.
                                  In other words, this fractional control point i what corelates the Imaging and beam control points.
                                  ******************************************************************************************-->
                                  <xs:element minOccurs="1" maxOccurs="1" name="Cp" type="xs:double" />

                                  <xs:element minOccurs="0" maxOccurs="8" name="Acquisition" type="Acquisition" />
                                  <xs:element minOccurs="0" maxOccurs="8" name="AcquisitionStart" type="Acquisition" />
                                  <xs:element minOccurs="0" maxOccurs="8" name="AcquisitionStop" type="Acquisition" />

                                  <!--*****************************************************************************************
                                  kV filter settings (optional) at this imaging point
                                  ******************************************************************************************-->
                                  <xs:element minOccurs="0" maxOccurs="1" name="KvFilters">
                                    <xs:complexType>
                                      <xs:all>
                                        <xs:element name="Shape" type="KvFilterType" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="Foil" type="KvFilterType" minOccurs="0" maxOccurs="1" />
                                      </xs:all>
                                    </xs:complexType>
                                  </xs:element>

                                  <!--*****************************************************************************************
                                  desired (optional) arm /kv blade positions before the image acquisition 
                                  Specify either blade tracking or blade positions
                                  ******************************************************************************************-->
                                  <xs:element name="KvBlades" minOccurs="0" maxOccurs="1">
                                    <xs:complexType >
                                      <xs:sequence>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                          <xs:element name="Tracking" type="xs:boolean" />
                                          <!--*****************************************************************************************
                                          Positions of the kV Blades; units in cm 
                                          ******************************************************************************************-->
                                          <xs:element name="Positions">
                                            <xs:complexType>
                                              <xs:all> <!--Must specify all kV collimator positions (but unlike MV collimators they can be listed in any order)-->
                                                <xs:element minOccurs="1" maxOccurs="1" name="KVX1" type="DoubleNone" />
                                                <xs:element minOccurs="1" maxOccurs="1" name="KVX2" type="DoubleNone" />
                                                <xs:element minOccurs="1" maxOccurs="1" name="KVY1" type="DoubleNone" />
                                                <xs:element minOccurs="1" maxOccurs="1" name="KVY2" type="DoubleNone" />
                                              </xs:all>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:choice>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>


                                  <xs:element minOccurs="0" maxOccurs="1" name="Mvd" type="ArmPositionsType" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="Kvd" type="ArmPositionsType" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="Kvs" type="ArmPositionsType" />


                                  <!--desired arm position after the image acquisition -->
                                  <xs:element minOccurs="0" maxOccurs="1" name="MvdAfter" type="ArmPositionsType" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="KvdAfter" type="ArmPositionsType" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="KvsAfter" type="ArmPositionsType" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element> <!--END OF single imaging point element-->
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element> <!--END OF Imaging Points sequence -->
                          
                      <!--*****************************************************************************************
                      Tolerances of the imaging equipment (PU arms, kV collimation system).
                      ******************************************************************************************-->
                      <xs:element minOccurs="1" maxOccurs="1" name="ImagingTolerances">
                        <xs:complexType>
                          <xs:sequence>
                            <!--units are deg or cm -->
                            <!--*****************************************************************************************
                            Tolerances for MV detector, kV detector and kV source arms.
                            ******************************************************************************************-->
                            <xs:element minOccurs="0" maxOccurs="1" name="Mvd" type="ArmTolerances" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Kvd" type="ArmTolerances" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Kvs" type="ArmTolerances" />
                            <!--*****************************************************************************************
                            kV Blade (kV collimator) tollerances
                            ******************************************************************************************-->
                            <xs:element minOccurs="0" maxOccurs="1" name="KvBlades">
                              <xs:complexType>
                                <xs:sequence>
                                  <!--units are deg or cm-->
                                  <xs:element name="KVY1" type="xs:double" minOccurs="1" maxOccurs="1" />
                                  <xs:element name="KVY2" type="xs:double" minOccurs="1" maxOccurs="1" />
                                  <xs:element name="KVX1" type="xs:double" minOccurs="1" maxOccurs="1" />
                                  <xs:element name="KVX2" type="xs:double" minOccurs="1" maxOccurs="1" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>  <!--***END OF ImagingTolerances***-->

                      <!--*****************************************************************************************
                      Gating Parameters. If the respiratory gating that feeds into the XI is to be used then
                      specify gating parameters here 
                      ******************************************************************************************-->
                      <xs:element minOccurs="0" maxOccurs="1" name="GatingParameters">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="Source" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Filter" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="QualityThreshold" type="xs:double" />
                            <xs:element minOccurs="0" maxOccurs="1" name="KVGating" type="xs:boolean" />
                            <xs:element minOccurs="0" maxOccurs="1" name="Position">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Z" type="xs:double" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>  <!--***END OF Position***-->

                            <xs:element minOccurs="0" maxOccurs="1" name="Orientation">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="1" maxOccurs="1" name="Qx" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Qy" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Qz" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Q0" type="xs:double" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>  <!--***END OF Orientation***-->

                            <xs:element minOccurs="1" maxOccurs="unbounded" name="GatingWindow">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" maxOccurs="1" name="Axis" type="xs:string" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Entry" type="xs:double" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="Exit" type="xs:double" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="EntryDelay" type="xs:double" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="FaultOnExit" type="xs:boolean" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>  <!--***END OF GatingWindow***-->

                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                              <xs:element name="MVAcquisitionTrigger">
                                <xs:complexType>
                                  <xs:complexContent>
                                    <xs:extension base="AcquisitionTrigger" />
                                  </xs:complexContent>
                                </xs:complexType>
                              </xs:element>  <!--***END OF MVAcquisitionTrigger***-->

                              <xs:element name="KVAcquisitionTrigger">
                                <xs:complexType>
                                  <xs:complexContent>
                                    <xs:extension base="AcquisitionTrigger" />
                                  </xs:complexContent>
                                </xs:complexType>
                              </xs:element>  <!--***END OF KVAcquisitionTrigger***-->

                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>   <!--***END OF GatingParameters***-->

                    </xs:sequence>
                  </xs:complexType>
                </xs:element>   <!--***END OF ImagingParameters***-->


                <!--**********************************************
                BEAM HOLD DEVICES(Optional)                   
                BeamHoldDevice Definition
                The planned beam hold devices.
                         
                RULES:
                1. A missing beam hold device means that the beam hold devie must not be ready.
                2. A present beam hold device must be ready
                3. The MV beam gets held if the beam hold device requests to held the beam.
                4. Id attribute specifies the id of the beam hold device (number between 0 and 15)
                ***********************************************-->
                <xs:element name="BeamHoldDevices" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Dev" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                          <xs:attribute name="Id" type="xs:int" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>

            </xs:all>
        </xs:complexType>
    </xs:element> <!--END OF SetBeam element -->


    <!--********************************************************************************************
    ************************************************************************************************
    T Y P E     D E F I N I T I O N S 
    ************************************************************************************************
    *********************************************************************************************-->


    <!--*****************************************************************************************
    TypeDef for container: "Acquisition" describing one image source.
    ******************************************************************************************-->
    <xs:complexType name="Acquisition">
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionId" type="xs:int" />

        <!--*****************************************************************************************
        Container for any detailed XI acquisition information needed by SPV
        in setup phase. 
        Handshake: hand shaking between SPV and XI required
          If yes SPV will pause delivery until XI is ready for acquisition
          If not SPV will merely trigger the acquisition in time
        KV: is kv Beam
        MVDose: estimated total amount of MVDose required in order to acquire the image
          This is used by SPV to calculate radiation time.
        Gating: for gated MV radshot
        ******************************************************************************************-->
        <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionSpecs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Handshake" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="KV" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="MVDose" type="xs:double" />
              <!--*****************************************************************************************
              Enumeration for gated MV radshot: none, once or continuously
              ******************************************************************************************-->
              <xs:element minOccurs="0" maxOccurs="1" name="Gating">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="none" />
                    <xs:enumeration value="once" />
                    <xs:enumeration value="continuously" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!--END OF AcquisitionSpecs -->
        <!--*****************************************************************************************
        Container for image acquisition specifications
        ******************************************************************************************-->
        <xs:element minOccurs="0" maxOccurs="1" name="AcquisitionParameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="ImageMode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Overwrite"> 
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="parameter" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" /> <!--ImageMode has a mandatory attribute "id"-->
                </xs:complexType>
              </xs:element> <!--END OF ImageMode -->

              <xs:element minOccurs="0" maxOccurs="1" name="AcquisitionMode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Overwrite"> 
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="parameter" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" /> <!--AcquisitionMode has a mandatory attribute "id"-->
                </xs:complexType>
              </xs:element> <!--END OF AcquisitionMode -->


              <xs:element minOccurs="0" maxOccurs="1" name="CalibrationSet" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageDestination" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationDestination" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Movie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Destination" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Parameters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="1" name="width" type="xs:int" />
                          <xs:element minOccurs="0" maxOccurs="1" name="height" type="xs:int" />
                          <xs:element minOccurs="0" maxOccurs="1" name="frameRate" type="xs:double" />
                          <xs:element minOccurs="0" maxOccurs="1" name="crop" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="invert" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="pixelValue0" type="xs:int" />
                          <xs:element minOccurs="0" maxOccurs="1" name="pixelValue255" type="xs:int" />
                          <xs:element minOccurs="0" maxOccurs="1" name="cutOff" type="xs:int" />
                          <xs:element minOccurs="0" maxOccurs="1" name="weight" type="xs:double" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element> <!--END OF (Movie) Parameters -->
                  </xs:sequence>
                </xs:complexType>
              </xs:element> <!--END OF Movie -->

              <xs:element minOccurs="0" maxOccurs="1" name="RaiseFault" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="Cache" type="xs:boolean" />
              <xs:element minOccurs="0" maxOccurs="1" name="HistogramRoi">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="X1" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Y1" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="X2" type="xs:int" />
                    <xs:element minOccurs="1" maxOccurs="1" name="Y2" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element> <!--END OF HistogramRoi -->

              <!--***********************************************************
              Specify either kV or MV parameters
              ************************************************************-->
              <xs:choice minOccurs="1" maxOccurs="1">
                <!--***********************************************************
                MV parameters are just energy and dose rate
                ************************************************************-->
                <xs:element name="MV">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="1" name="Energy" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="DoseRate" type="xs:double" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element> <!--END OF MV (parameters)-->

                <!--***********************************************************
                kV has more parameters
                ************************************************************-->
                <xs:element name="KV">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="KiloVolts" type="xs:double" />
                      <xs:element minOccurs="1" maxOccurs="1" name="MilliAmperes" type="xs:double" />
                      <xs:element minOccurs="1" maxOccurs="1" name="MilliSeconds" type="xs:double" />
                      <xs:element minOccurs="0" maxOccurs="1" name="eFocalSpot" default="Large">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Small"/>
                            <xs:enumeration value="Large"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element> <!--END OF eFocalSpot-->

                      <xs:element minOccurs="0" maxOccurs="1" name="eFluoroLevelControl" default="Low">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="None"/>
                            <xs:enumeration value="Low"/>
                            <xs:enumeration value="High"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element> <!--END OF eFluoroLevelControl-->

                      <xs:element minOccurs="0" maxOccurs="1" name="AutoBrightnessControl" type="xs:boolean" default="false" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>  <!--END OF kV (parameters)-->
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element> <!--END OF AcquisitionParameters -->
      </xs:sequence>
    </xs:complexType> <!--END OF  Acquisition -->

    <!--*****************************************************************************************
    TypeDef for simple enumeration of the three kV filter positions 0,1,2 
    ******************************************************************************************-->
    <xs:simpleType name="KvFilterType">
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="2" />
      </xs:restriction>
    </xs:simpleType>

    <!--*****************************************************************************************
    Type Element Definition for Arm positions
    ******************************************************************************************-->
    <xs:complexType name="ArmPositionsType">
      <xs:choice>
        <!--*****************************************************************************************
        Predefined positions for PU:
        Position Type:
        retracted - arm is in a pre-defined fully retracted position.
        extended  - arm is either in a pre-defined extended position, or in a pre-defined 
                    clinical area (the VRT and LNG coordinates are within a pre-defined 
                    polygon where the image can be taken according to the treatment plan).
        mid       -  arm is in a pre-defined "Mid" position between retracted and extended.
        none      - all other positions. When used in setTarget, means cancel target.
        ******************************************************************************************-->
        <xs:element name="SpecialPosition" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="retracted" />
              <xs:enumeration value="mid" />
              <xs:enumeration value="extended" />
              <xs:enumeration value="none" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>


        <!--*****************************************************************************************
        Axes definitions for a working position of an arm.
        ******************************************************************************************-->
        <xs:element name="Positions" minOccurs="0" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence>
              <!--units are deg or cm-->
              <xs:element minOccurs="1" maxOccurs="1" name="Lat" type="xs:double" />
              <xs:element minOccurs="1" maxOccurs="1" name="Lng" type="xs:double" />
              <xs:element minOccurs="1" maxOccurs="1" name="Vrt" type="xs:double" />
              <xs:element minOccurs="1" maxOccurs="1" name="Pitch" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>


    <!--*****************************************************************************************
    TypeDef for Tolerances of a PU arm.
    ******************************************************************************************-->
    <xs:complexType name="ArmTolerances">
      <xs:sequence>
        <!--units are deg or cm-->
        <xs:element name="Lat" type="xs:double" minOccurs="1" maxOccurs="1" />
        <xs:element name="Lng" type="xs:double" minOccurs="1" maxOccurs="1" />
        <xs:element name="Vrt" type="xs:double" minOccurs="1" maxOccurs="1" />
        <xs:element name="Pitch" type="xs:double" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>

    <!--*****************************************************************************************
    TypeDef for Acquisition trigger 
    ******************************************************************************************-->
    <xs:complexType name="AcquisitionTrigger">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TriggerDelay" type="xs:double" />
        <xs:element minOccurs="0" maxOccurs="1" name="TriggerOnEnter" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="TriggerOnExit" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="SingleTrigger" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>


    <!--*****************************************************************************************
    TypeDef for simple element "none" string
    ******************************************************************************************-->

    <xs:simpleType name="NoneValue">
      <xs:restriction base="xs:string">
        <xs:enumeration value="none" />
      </xs:restriction>
    </xs:simpleType>

    <!--*****************************************************************************************
    TypeDef for simple element DoubleNone i.e.xs:double extended to include the value "none"
    ******************************************************************************************-->
    <xs:simpleType name="DoubleNone">
      <xs:union memberTypes="xs:double NoneValue  " />
    </xs:simpleType>





</xs:schema>
